:root {
    --azul: #3b82f6;
    --blanco: #ffffff;
    --gris-claro: #f5f5f5;
    --gris: #94a3b8;
    --gris-oscuro: #64748b;
    --negro: #000;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
    height: 25px;
}
*::-webkit-scrollbar-track {
    background: rgb(1, 108, 159);
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(2, 163, 239);
    border-radius: 20px;
}

body {
    font-size: 1.6rem;
    font-family: "Lato", sans-serif;
    background-color: var(--gris-claro);
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
}

.sombra {
    box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.51);
    -webkit-box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.51);
    background-color: var(--blanco);
    padding: 4rem;
    border-radius: 1.2rem;
}

header {
    background-color: var(--azul);
}

header h1{
    padding: 3rem 0;
    margin: 0;
    color: var(--blanco);
    text-align: center;
    text-transform: uppercase;
    text-shadow: #64748b 0.1em 0.1em 0.2em
}
header h2{
    padding: 3rem 0;
    margin: 0;
    color: var(--blanco);
    text-align: center;
    text-transform: uppercase;
    text-shadow: #64748b 0.1em 0.1em 0.2em
}

header p{
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: 900;
    font-style: italic;
}
.texto-centrado{
    text-align: center;
}
.formulario {
    width: 95%;
    margin: 0 auto;
    padding: 10rem 0;
}
@media (min-width: 768px) {
    .formulario {
        padding: 5rem 0;
        width: 60rem;
    }
}
.formulario legend {
    font-size: 3.6rem;
    text-align: center;
    display: block;
    text-transform: uppercase;
    color: var(--blanco);
    margin-bottom: 4rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--azul);
}
.formulario .campo {
    display: grid;
    margin-bottom: 2rem;
}

.formulario label {
    color: var(--azul);
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 2rem;
}

.formulario input[type="text"],
.formulario input[type="number"] {
    background-color: var(--gris-claro);
    border-radius: 1rem;
    padding: 1rem;
    border: none;
    flex: 1;
    font-size: 1.6rem;
}
.formulario input[type="submit"] {
    background-color: #1048a4;
    border: none;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
    color: var(--blanco);
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.9rem;
    width: 100%;
    transition: background-color 300ms ease;
}
@media (min-width: 768px) {
    .formulario input[type="submit"] {
        display: block;
        padding: 1rem 5rem;
    }
}
.formulario input[type="submit"]:hover {
    background-color: #042a67;
    cursor: pointer;
}

.formulario select {
    flex: 1;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    text-align: center;
    background-color: var(--gris-claro);
}

.alerta {
    padding: 2rem 5rem;
    max-width: 60rem;
    margin: 2rem auto 2rem auto;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.8rem;
    text-align: center;
}
.alerta.error {
    background-color: var(--blanco);
    border-left: 5px solid #b91c1c;
    color: #b91c1c;
}
.alerta.success {
    background-color: var(--blanco);
    border-left: 5px solid #019615;
    color: #019615;
}

.contenedor {
    width: 90%;
    max-width: 80rem;
    margin: 0 auto;
}
.contenedor-presupuesto {
    margin-top: -5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transform: translateY(5rem);
}
.dos-columnas {
    flex-direction: column;
}
.dos-columnas :first-child {
    margin-bottom: 4rem;
}
@media (min-width: 768px) {
    .dos-columnas {
        flex-direction: row;
        align-items: center;
        gap: 4rem;
    }
    .dos-columnas > div {
        width: 50%;
    }
    .dos-columnas :first-child {
        margin-bottom: 0;
    }
}
.formulario input[type="text"].nuevo-presupuesto, 
.formulario input[type="number"].nuevo-presupuesto {
    font-size: 2.8rem;
    text-align: center;
}
@media (max-width: 480px) {
    .formulario input[type="text"].nuevo-presupuesto, 
    .formulario input[type="number"].nuevo-presupuesto{
        width: 100%;
    }
}

.contenedor-presupuesto svg {
    width: 25rem;
}

.contenido-presupuesto {
    width: 100%;
}
.contenido-presupuesto p {
    font-weight: 400;
    color: var(--gris-oscuro);
    font-size: 2.4rem;
    text-align: center;
}
@media (min-width: 768px) {
    .contenido-presupuesto p {
        text-align: left;
    }
}
.contenido-presupuesto p.negativo,
.contenido-presupuesto p.negativo span {
    color: #DC2626;
}
.contenido-presupuesto span {
    font-weight: 900;
    color: var(--azul);
}
.reset-app, .cerrar-app {
    border: none;
    background-color: #db2777;
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: var(--blanco);
    text-transform: uppercase;
    font-weight: 900;
    border-radius: 1rem;
    transition-property: background-color;
    transition-duration: 300ms;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.reset-app{
    margin-top: 1.5rem;
}
.reset-app:hover, .cerrar-app:hover {
    background-color: #c71465;
    cursor: pointer;
}

.reset-app img{
    width: 4rem;
    margin: 0;
}

.cerrar-app img{
    width: 4rem;
    margin: 0;
}
.reset-app img:first-child{
    margin-bottom: 0;
}
.cerrar-app img:first-child{
    margin-bottom: 0;
}

main {
    padding-top: 10rem;
}

.filtros .campo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
@media (min-width: 768px) {
    .filtros .campo{
        flex-direction: row;
        margin-bottom: 2rem;
    }
    .filtros .campo:last-of-type{
        margin-bottom: 0;
    }
}
.filtros label {
    font-size: 3rem;
    font-weight: 900;
    color: var(--gris-oscuro);
}
.filtros select {
    flex: 1;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    text-align: center;
    background-color: var(--gris-claro);
}

.listado-gastos {
    margin-top: 5rem;
}
.listado-gastos h2 {
    color: var(--gris-oscuro);
    font-weight: 900;
}
.no-gastos {
    text-align: center;
    font-size: 2.2rem;
}
.sin-filtro{
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 800;
    color: #64748b;
}
.gasto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
    width: 100%;
}
.cantidad-gasto {
    font-size: 2.4rem;
    color: var(--negro);
    font-weight: 900;
}

.contenido-gasto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
}
@media (min-width: 768px) {
    .gasto, .contenido-gasto{
        flex-direction: row;
        text-align: left;
    }
}
.contenido-gasto img {
    width: 10rem;
}

.descripcion-gasto p {
    margin: 0 0 0.3rem 0;
}
.descripcion-gasto .categoria {
    color: var(--gris);
    font-size: 1.6rem;
    font-weight: 900;
    text-transform: uppercase;
}
.descripcion-gasto p {
    margin-bottom: 1rem;
}
.descripcion-gasto .nombre-gasto {
    color: var(--gris-oscuro);
    font-size: 2.4rem;
    font-weight: 700;
}
.descripcion-gasto .nombre-gasto:hover {
    cursor: pointer;
}
.descripcion-gasto .fecha-gasto {
    font-size: 1.8rem;
    font-weight: 900;
    color: var(--gris-oscuro);
}
.descripcion-gasto .fecha-gasto span {
    font-weight: 400;
}

.nuevo-gasto {
    position: fixed;
    bottom: 12rem;
    right: 2rem;
}
.mas-dinero{
    position: fixed;
    bottom: 19rem;
    right: 2rem;
}
.descargar-pdf{
    position: fixed;
    bottom: 12rem;
    left: 2rem;
}
.mas-dinero img{
    width: 5rem;
    cursor: pointer;
}

.nuevo-gasto img {
    width: 5rem;
    transition: all .3s linear;
    transform: rotate(0);
}
.descargar-pdf img{
    width: 5rem;
    cursor: pointer;
}


.nuevo-gasto img:hover {
    cursor: pointer;
    transform: rotate(180deg);
}

.modal {
    position: absolute;
    background-color: rgb(0 0 0 / 0.92);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 120vh
    
}
@media (max-width: 480px) {
    .modal{
        min-height: 120vh;
    }
}
.modal .cerrar-modal {
    position: absolute;
    right: 3rem;
    top: 3rem;
    width: 3rem;
    height: 3rem;
}
.modal .cerrar-modal img {
    width: 100%;
    transition: all .3s ease;
}
.modal .cerrar-modal img:hover{
    transform: scale(1.5);
    cursor: pointer;
}

.modal .formulario {
    width: 40rem;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in;
    opacity: 0;
}
@media (max-width: 480px) {
    .modal .formulario{
        max-width: 70%;
    }
}
.modal label {
    color: var(--blanco);
}


.modal .formulario.animar {
    position: relative;
    opacity: 1;
}

.modal .formulario.cerrar {
    opacity: 0;
}

.modal label {
    text-align: left;
}

.CircularProgressbar .CircularProgressbar-text {
    font-size: 1rem !important;
}

/*** SWIPE LIST OVERRIDES **/
.swipe-action__leading {
    background-color: var(--azul);
    color: var(--blanco);
    margin-bottom: 2rem;
}

.swipe-action__trailing {
    background-color: #db2777;
    margin-bottom: 2rem;
    color: var(--blanco);
}

.swipeable-list .swipe-action {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    text-align: right;
}


.contenedor-login{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.51);
    -webkit-box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.51);
    background-color: var(--blanco);
    border-radius: 1.2rem;
    margin-top: 2rem;
    padding: 2rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10rem;
}
@media (min-width: 768px) {
    .contenedor-login{
        width: 85%;
    }
}

.contenedor-login h1{
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.boton{
    margin-top: 1rem;
    cursor: pointer;
    border: none;
    padding: 2rem 3rem;
    background-color: rgb(31, 31, 206);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 1rem;
}
.boton:hover{
    background-color: #1048a4;
}


.footer{
    padding: 2rem 3rem;
    display: flex;
    margin-top: 10rem;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    background-color: #3b82f6;
}

.footer p{
    color: #f5f5f5;
    font-size: 1.5rem;
}
.footer p span{
    font-weight: bold;
    color: black;
}
@media (min-width: 768px) {
    .footer{
        flex-direction: row;
    }
}

.contenedor-paginas{
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contenedor-paginas p{
    color: var(--gris-oscuro);
    font-weight: 700;
}

.contenedor-botones{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.botones{
    border: none;
    padding: 1rem 2.5rem;
    background-color: #3b82f6;
    border-radius: 1.5rem;
    color: white;
    font-weight: 700;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
}
.botonSig:hover{
    transform: translateX(2.5rem);
}

.botonAnt:hover{
    transform: translateX(-2.5rem);
}

.formulario-login{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    padding: 1rem;
}
.formulario-login legend{
    font-size: 2.5rem;
    font-weight: 700;
    color: #042a67;
    font-style: italic;
}
.campo-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
    gap: 1.5rem;
    width: 80%;
    transition: all .1s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.campo-login input{
    width: 80%;
    border: none;
    border-radius: 1rem;
    padding: 1.5rem;
    background-color: transparent;
    color: #042a67;
    border-bottom: solid 3px black;
}

.campo-login input::placeholder{
    color: #64748b;
}

.campo-login input:hover{
    background-color: #94a3b8;
}

.campo-login label{
    width: 80%;
    text-align: left;
    font-weight: 600;
    font-size: 2rem;
    color: black; text-shadow: #64748b 0.1em 0.1em 0.2em
}

.campo-login label:last-of-type{
    margin-top: 2.5rem;
}

.campo-login:last-of-type{
    margin-bottom: 5rem;
}